body{
    background-image: url('img/ccomet.png');
    padding: 0;
    margin: 0;
    background-position: top;
}
div.dark-overay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    text-align: center;
}
div.seemyclass{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    cursor: default;
}
p.great1{
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding-top: 2%;
    cursor: default; 
}
p.great{
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding-top: 2%;
    cursor: default;
}
span.spanc{
    font-size: 15px;
}